body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.input-container {
  position: relative;
  width: 200px;
}

.input-container input {
  width: 100%;
}

.input-container .icon {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  cursor: pointer;
}